/* Content Space */
					
						#contentSpace	{
							float: left;
							width: 100%;
							background-color: #FFFFFF;
							padding: 1em 0 .9em 0;
							min-width: 220px;
						}
				
					/* Notification bar and Activity label */
				
						#actionBar	{
							float: left;
							width: 14em;
							height: 2.45em;
							position: fixed;
							background-color: #FFFFFF;
							text-align: center;
							margin: 1.15em 0 0 0;
						}
				
						#statusBar	{
							float: left;
							width: 14em;
							height: 3.6em;
							position: fixed;
							background-color: #000000;
						}
						
					/* Tab Selection */
					
						#tabSelection	{
							float: left;
							width: 100%;
							margin: 4em 0 0 0;
						}
						
						#tab	{
							float: left;
							width: 50%;
							text-align: center;
						}
						
						.tabSelection	{
							margin: 0 auto;
							font-family: 'Roboto', sans-serif;
							font-size: .9em;
							background: #efefef;
							color: #ffffff;
							
						}
						
					/* Content */
					
						/* General Structures */
						
							#titleSection	{
								float: left;
								width: 100%;
							}
							
							#cardSection	{
								float: left;
								width: calc(100% - 2.3em);
								background-color: #FFFFFF;
								margin: .5em 0 0 0;
								padding: .8em 1.15em .15em 1.15em;
								text-align: center;
							}
							
							#cardSectionSeparator	{
								float: left;
								width: calc(100% - 2em);
								border-bottom: 0.1em solid #F0F0F0;
								margin: 1em 1em 0 1em;
							}
							
							#row	{
								float: left;
								width: 100%;
							}
							
							/* Progress Stats */
							
								#progressTitle	{
									float: left;
									width: 100%;
								}
								
							/* Circle Progress Stats */
							
								#dailyStats	{
									float: left;
									width: 100%;
									margin: .25em 0 .8em 0;
								}
								
								#circleStat	{
									float: left;
									width: calc(100% / 3);
									text-align: center;
								}
								
								#progressCircle	{
									width: 2.15em;
									height: 2.15em;
									border-radius: 1000em;
									border: .6em solid #ebebeb;
									margin: 0 auto;
									margin-bottom: .5em;
								}
							
							/* Activities */
								
								.more	{
									float: left;
									width: 100%;
									font-family: 'Roboto', sans-serif;
									font-size: .8em;
									font-weight: bold;
									color: #000000;
									text-decoration: none;
									padding: 0;
									margin: .95em 0 0 0;
									border-radius: 1000em;
									letter-spacing: 0.035em;
								}
								
								.moreLarge	{
									float: left;
									width: 4.65em;
									font-family: 'Roboto', sans-serif;
									font-size: .75em;
									font-weight: bold;
									color: #ffffff;
									text-decoration: none;
									padding: .8em 0;
									margin: .9em 0 0 .5em;
									border-radius: 1000em;
									letter-spacing: 0.035em;
								}
								
								.startActivityWide	{
									float: left;
									width: calc(100% - 5.15em);
									text-align: center;
									font-size: .75em;
									font-weight: bold;
									font-family: 'Roboto', sans-serif;
									color: #FFFFFF;
									padding: .8em 0;
									margin: .9em 0 .5em 0;
									background-color: #4abdac;
									text-decoration: none;
									border-radius: 1000em;
									letter-spacing: 0.035em;
								}
					
						/* Today's progress */
						
							#todayProgress	{
								float: left;
								width: calc(100% - 2.3em);
								background-color: #FFFFFF;
								margin: 0;
								padding: 1em 1.15em .5em 1.15em;
							}
							
							#generalProgressSection	{
								float: left;
								margin: 0;
								width: 100%;
							}
							
							#progressSection	{
								float: left;
							}
							
							#progressStat	{
								float: left;
								width: 20px;
								margin: 13px 10px 0 0;
							}
							
							#progressBar	{
								float: left;
								height: 75px;
								width: 20px;
								background-color: #eeeeee;
								margin: 0 0 7px 0;
								border-radius: 200em;
								position: relative;
							}
							
							#progress	{
								float: left;
								width: 100%;
								height: 100%;
								background-color: #85e6cd;
								border-radius: 20em;
								position: absolute;
								bottom: 0;
							}
							
							#progressSectionBorder	{
								float: left;
								width: 100%;
								margin: .5em 0 .2em 0;
							}
							
						/* Running stats */
						
							#runningSection	{
								float: left;
								width: calc(100% - 1em);
								background-color: #FFFFFF;
								margin: .55em .5em 0 .5em;
								padding: 0 0 1em 0;
							}
							
							#runningSectionBorder	{
								float: left;
								width: calc(100% - 2.2em);
								margin: .5em 1.1em 0 1.1em;
							}
						
						/* Remaining exercises */
						
							#remainingExercises {
								float: left;
								width: 100%;
								background-color: #FFFFFF;
								margin: .55em 0 0 0;
								padding: 0 0 1em 0;
								border-radius: .35em;
							}
							
							#exerciseStat	{
								float: left;
								width: 100%;
								margin: .25em 0 0 0;
							}
							
							#exerciseProgress	{
								float: left;
								width: 40%;
								height: .85em;
								background-color: #339cff;
								border-radius: 20em;
							}
							
							#exerciseSectionBorder	{
								float: left;
								width: calc(100% - 2.2em);
								margin: .5em 1.1em 0 1.1em;
							}
							
							#exerciseSection	{
								float: left;
								width: 100%;
								padding: 0;
								margin: 0;
							}
							
							#exercise	{
								float: left;
								width: 100%;
							}
						
						/* Recommended exercises */
						
							#recommendedExercises	{
								float: left;
								width: calc(100% - 1em);
								background-color: #FFFFFF;
								margin: .55em .5em 0 .5em;
								padding: 0 0 1em 0;
								border-radius: .35em;
							}
						
					/* HTML tags */
				
						body	{
							margin: 0;
							background-color: #E3E3E3;
							zoom: 2.23; 
						    -moz-transform: scale(2.23); 
						    -moz-transform-origin: 0 0;
						    
						}
						
						/* Activity bar title */
						
							h1	{
								font-family: -apple-system, BlinkMacSystemFont, sans-serif;
								font-size: .8em;
								font-weight: 500;
								color: #000000;
								letter-spacing: .035em;
								margin: .95em 0 0 0;
							}
							
						/* Section titles */
						
							h2	{
								float: left;
								font-family: 'Roboto', sans-serif;
								font-size: 1.3em;
								font-weight: bold;
								color: #FFFFFF;
								margin: -.1em 0 0 0;
								text-align: center;
							}
							
						/* Section Title Icons */
						
							.activityIcon	{
								float: left;
								font-size: .75em;
								font-weight: bold;
								width: 1.65em;
								height: 1.375em;
								text-align: center;
								border-radius: 1000em;
								color: #FFFFFF;
								font-family: 'Roboto', sans-serif;
								margin: 0 6px 0 0;
								padding: .25em 0 0 0;
							}
							
						/* Progress bar titles */
						
							h3	{
								float: left;
								font-family: 'Roboto', sans-serif;
								font-size: .8em;
								font-weight: normal;
								color: #000000;
								margin: .5em 0 .25em 0;
							}
							
						/* Progress circle title */
						
							h7	{
								font-family: 'Roboto', sans-serif;
								font-size: .8em;
								font-weight: normal;
								color: #000000;
								margin: 0 auto;
							}
						
						/* Info titles */
							
							h5	{
								float: left;
								font-family: 'Roboto', sans-serif;
								font-size: .8em;
								font-weight: normal;
								color: #000000;
								margin: 0 0 .35em 0;
							}
						
						/* Progress numbers */
							
							h6	{
								float: right;
								font-family: 'Roboto', sans-serif;
								font-size: .8em;
								font-weight: normal;
								color: #000000;
								margin: .1em 0 0 0;
							}
							
						/* Remaining exercise alternatives */
						
							h4	{
								float: left;
								font-family: 'Roboto', sans-serif;
								font-size: .8em;
								font-weight: normal;
								color: #292929;
								margin: .75em 0 0 0;
							}