body	{
	margin: 0;
	padding: 0;
	width: 100vw;
}

img	{
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	object-fit: cover;
	object-position: center;
	pointer-events: none;
}

h1, h2, h3, h4, h5, h6, p	{
	float: left;
	margin: 0;
	padding: 0;
	font-family: 'Inter', sans-serif;
	color: #000000;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a	{
	font-family: 'Inter', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Layout Components */

p-page	{
	float: left;
	width: 100vw;
	overflow-x: hidden;
}

p-scaled-parent	{
	float: left;
	width: 5000px;
	margin-left: calc(-2500px + 50vw);
	overflow-y: hidden;
	display: flex;
	justify-content: center;
	align-items: center; 
}

p-scaled	{
	width: 5000px;
	margin: 0 auto;
	display: table;
	transform: scale(.9);
	-webkit-transform: scale(.9);
	-ms-transform: scale(.9);
	-moz-transform: scale(.9);
}

p-content-height	{
	float: left;
	width: 100%;
}

p-row	{
	float: left;
	width: 100%;
}

/* Content Components */

p-project	{
	float: left;
	width: 100%;
	margin-top: 160px;
}

p-chapter	{
	float: left;
	width: 100%;
	margin-top: 140px;
}

p-content	{
	float: left;
	width: 100%;
	margin-top: -15px;
}

p-information, p-content-small	{
	width: 900px;
	margin: 0 auto;
	position: relative;
	display: table;
}

p-content-full	{
	float: left;
	width: 100%;
	margin-top: 125px;
}

p-files	{
	width: 1200px;
	margin: 0 auto;
	display: table;
}

p-files img	{
	width: 550px;
	height: 778px;
	margin: 125px 25px 0 25px;
	float: left;
	border: 1px solid #cccccc;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

p-phones	{
	width: 1190px;
	margin: 0 auto;
	display: table;
}

p-phones img	{
	width: calc((1190px / 3) - 40px);
	margin: 125px 20px 0 20px;
	float: left;
	height: 730px;
}

p-information h1	{
	font-size: 100px;
	line-height: 126px;
	font-weight: 600;
	max-width: 600px;
	padding-right: 300px;
	width: 100%;
}

p-information h2	{
	font-size: 52px;
	line-height: 66px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 600;
	max-width: 600px;
	padding-right: 300px;
	width: 100%;
	margin-top: 30px;
}

p-information h4	{
	color: #999999;
	border-bottom: 5px solid #999999;
	font-size: 36px;
	line-height: 44px;
	padding-bottom: 7px;
	margin-top: 60px;
	width: auto;
	margin-bottom: 5px;
}

p-description p-row a	{
	float: left;
	text-decoration: none;
	color: #004dc9;
	font-weight: 600;
	border-bottom: none !important;
	font-size: 36px;
	line-height: 44px;
	margin-top: 32px;
}

p-description	{
	float: left;
	width: 100%;
	margin-top: 2px;
}

p-description p	{
	margin-top: 30px;
	max-width: 600px;
	width: 100%;
	font-size: 28px;
	line-height: 40px;
	color: #696969;
	font-weight: 500;
}

p-description p span	{
	width: 100%;
	font-weight: 600;
	color: #000000;
	line-height: 44px;
}

p-information h2 a, p-description p a	{
	text-decoration: none;
	color: #004dc9;
	font-weight: 600;
}

p-information h2 a:hover, p-information p a:hover, p-description p-row a:hover	{
	text-decoration: underline;
}

p-information img	{
	height: 210px;
	margin-bottom: 15px;
}

/* Dark Section */

p-dark-section	{
	float: left;
	width: 100%;
	background-color: #000000;
	margin-top: 300px;
	padding-bottom: 300px;
}

p-dark-section h1, p-dark-section h2, p-dark-section p-description p span, p-dark-section h2 a	{
	color: #eeeeee;
}

p-dark-section h4	{
	color: #666666;
	border-bottom: 4px solid #666666;
}

p-dark-section p	{
	color: #969696;
}

/* Universal Intro */

#intro	{
	transform: scale(.8);
	-webkit-transform: scale(.8);
	-ms-transform: scale(.8);
	-moz-transform: scale(.8);
}

#intro img	{
	margin: 0 auto;
	display: table;
	width: 1350px;
	margin-top: 100px;
	pointer-events: none;
	height: 3613px;
}

#introImage	{
	height: 3613px;
	width: 1350px;
}

#introContent	{
	position: absolute;
	top: 0;
}

/* Media */

.logo	{
	height: 200px;
	width: 200px;
	margin-top: 125px;
}

.wordmark	{
	width: 650px;
	margin-top: 125px;
	height: 124px;
}

.branding	{
	width: 675px;
	margin-top: 125px;
	height: 804px;
}

.ipad, .wallpaper	{
	width: 1150px;
	margin: 0 auto;
	display: table;
	margin-top: 125px;
}

.wallpaper	{
	height: 765px;
}

.ipad	{
	height: 881px;
}

.website	{
	height: 2100px;
	width: 2624px;
	margin: 0 auto;
	display: table;
	margin-top: 125px;
	margin-bottom: 125px;
}

/* Specific Content */

#hotmail	{
	left: -100px;
}

#content-height	{
	padding-bottom: 350px;
}

#homepal-design-language	{
	height: 3919px;
}

#topping	{
	height: 260px;
	margin-bottom: -5px;
	width: 211px;
}

#tempo	{
	height: 225px;
	width: 225px;
}

#loudpastel-covers	{
	height: 1209px;
}

#the-mountain	{
	height: 290px;
	width: 425px;
}

#broadwired	{
	height: 210px;
	padding-bottom: 15px;
	width: 210px;
}

#bagged-and-beaned	{
	width: 487px;
	height: 275px;
}

#medaljelele	{
	width: 334px;
	height: 425px;
}

/* Tablet Scaling */

@media screen and (max-width: 1190px) {
	
	#content-height-applied	{
		display: none;
	}
	
	#intro	{
		transform: scale(.6);
		-moz-transform: scale(.6);
		-webkit-transform: scale(.6);
		-ms-transform: scale(.6);
	}
	
	#hotmail	{
		left: -50px;
	}

}


/* Mobile Scaling */

@media screen and (max-width: 500px) {
	
	#intro-height-applied	{
		display: none;
	}
	
	#mobileContent	{
		display: block;
	}
	
	body	{
		overflow-x: hidden !important;
	}
	
}













#desktopContent	{
	display: block;
}

#mobileContent	{
	display: none;
	transform: scale(1) !important;
	-webkit-transform: scale(1) !important;
	-ms-transform: scale(1) !important;
	-moz-transform: scale(1) !important;
}

#tabletContent	{
	float: left;
	width: 100%;
	overflow: hidden;
}

#introParent	{
	width: 100%;
}

#mobileIntroParent	{
	width: 1000px;
    margin-left: calc(-500px + 50vw);
}

#mobileIntro	{
	width: 585px;
	margin: 0 auto;
	display: table;
}

#smallScalingParent, #mediumScalingParent	{
	float: left;
	width: 4000px;
	margin-left: calc(-2000px + 50vw);
	height: 1px;
}

#smallScalingParent	{
	height: 3006px;
}

#smallScaling	{
	transform: scale(.8);
	-moz-transform: scale(.8);
	-webkit-transform: scale(.8);
	-ms-transform: scale(.8);
}

#mediumScalingHeight, #smallScalingHeight	{
	float: left;
	width: 100%;
}

#mediumScaling	{
	transform: scale(.9);
	-moz-transform: scale(.9);
	-webkit-transform: scale(.9);
	-ms-transform: scale(.9);
}

.row	{
	float: left;
	width: 100%;
}

.mediumTitle, .largeTitle, .smallTitle	{
	float: left;
	font-family: 'Inter', sans-serif;
	font-size: 52px;
	line-height: 66px;
	color: #000000;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 600;
	
	/* Desktop */
	max-width: 600px;
	padding-right: 300px;
	width: 100%;
}

.largeTitle	{
	font-size: 100px;
	line-height: 126px;
}

.smallTitle	{
	color: #999999;
	border-bottom: 5px solid #999999;
	font-size: 36px;
	line-height: 44px;
	padding: 0;
	padding-bottom: 7px;
	margin-top: 60px;
	width: auto;
	margin-bottom: 5px;
}

.introMediumTitle	{
	position: absolute;
	padding-right: 0;
	float: none;
	width: auto;
}

.linkMediumTitle	{
	font-size: 36px;
	line-height: 48px;
	margin-top: 60px;
}

.contentMediumTitle	{
	margin-top: 30px;
}

.introLink	{
	text-decoration: none;
	padding-bottom: 4px;
}

.descriptionParent	{
	float: left;
	width: 100%;
	margin-top: 2px;
}

.description	{
	float: left;
	margin-top: 30px;
	max-width: 600px;
	width: 100%;
	font-family: 'Inter', sans-serif;
	font-size: 28px;
	line-height: 40px;
	color: #696969;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 500;
}

.descriptionTitle	{
	width: 100%;
	font-weight: 600;
	color: #000000;
	line-height: 44px;
}

.homepalSection	{
	margin-top: 250px;
}

.freelanceProjectSection	{
	margin-top: 200px;
}

.newBackground	{
	padding-bottom: 350px;
}

.pageParent	{
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	background-color: #123456;
}

.marginFile	{
	margin-bottom: 50px !important;
}



.descriptionWordmark	{
	height: 125px;
	margin-bottom: 15px;
}

.smallTitleDark	{
	color: #666666;
	border-bottom: 4px solid #666666;
}

.descriptionDark	{
	color: #969696;
}

.largeTitleDark, .descriptionTitleDark, .mediumTitleDark	{
	color: #eeeeee;
}

.coverSection	{
	max-width: 950px;
	margin: 0 auto;
}

.cover	{
	width: 425px;
	margin: 0 25px;
	float: left;
}



.description a, .mediumTitle a	{
	text-decoration: none;
	color: #004dc9;
	font-weight: 600;
}

.description a:hover, .mediumTitle a:hover	{
	text-decoration: underline;
}



/* Mobile Content */

#mobileContent .mediumTitle	{
	font-size: 28px;
	line-height: 38px;
}

#mobileContent .tabletIntroLinks	{
	width: calc(100% - 80px);
	max-width: 295px;
}

#mobileContent .information	{
	width: calc(100% - 80px);
	max-width: 295px;
	margin: 0 auto;
	display: table;
}

.information .mediumTitle	{
	width: 100%;
	max-width: none;
	padding-right: 0;
	line-height: 40px !important;
	font-size: 27px !important;
}

.information p	{
	float: left;
	font-size: 20px;
	line-height: 30px;
	color: #696969;
	margin-top: 20px;
	font-family: 'Inter', sans-serif;
	-webkit-font-smoothing: antialiased;
}



/* Specific Elements */

.segmentParentTop	{
	margin-top: 110px;
}

.segmentParentMiddle	{
	margin-top: 125px;
}

.segmentParentInteractive	{
	margin-top: 200px;
}

.segmentParentBottom	{
	margin-top: 125px;
	margin-bottom: 110px;
}

.segmentParentBanner	{
	margin-top: 100px;
}

.logoLarge	{
	height: 275px;
}

.branding	{
	width: 675px;
}

.medaljelele	{
	height: 425px;
}

#welcomeBack	{
	display: none;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

#tabletMobileIntro	{
	margin: 0 auto;
	width: 900px;
	display: table;
	margin-top: 100px;
	pointer-events: none;
}

.tabletIntroLinks	{
	max-width: 700px;
	width: calc(100% - 200px);
}

.tempoFrameImage	{
	width: 615px;
	margin-bottom: -354px;
	pointer-events: none;
}

.iphoneContentParent	{
	width: 350px;
	height: 753px;
	margin: 22px 0 0 113px;
	border-radius: 0 0 35px 35px;
	float: left;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.iphoneContentParentHidden	{
	float: left;
	width: calc(100% + 50px);
	height: 100%;
	overflow: scroll;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
}

.iphoneContent	{
	float: left;
	border: 0;
	position: relative;
	z-index: 10;
	width: 350px;
	padding-right: 50px;
	pointer-events: all;
}




.websitePreviewParent	{
	width: 5000px;
	margin-left: calc(-2500px + (50vw / .9));
	height: 2100px;
}



.hotmail	{
	left: -100px;
}

@media screen and (max-width: 1190px) {
	
	#desktopContent	{
		display: none;
	}
	
	#smallScaling	{
		transform: scale(.6);
		-moz-transform: scale(.6);
		-webkit-transform: scale(.6);
	-ms-transform: scale(.6);
	}
	
	.hotmail	{
		left: -50px;
	}
	

}




@media screen and (max-width: 500px) {
	
	#tabletContent	{
		display: none;
	}
	
	#mobileContent	{
		display: block;
	}
	
	body	{
		overflow-x: hidden !important;
	}
	
}


